<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stathis.foodie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/foodie_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/foodie_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.categories.CategoriesResultsActivity"/>
        <activity android:name=".ui.results.FilterResultsActivity" />
        <activity android:name=".ui.webview.WebviewActivity" />
        <activity android:name=".ui.dashboard.DashboardActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.details.DetailsActivity" />
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.intro.IntroActivity" />
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>